<h1 class="text-center">{{question.questionContent}}</h1>

<div class="text-center">{{totalVotes}} votes</div>

<div class="progress">
  <div class="progress-bar progress-bar-primary glyphicon glyphicon-thumbs-up"  style="width: {{percentYes}}%">
      {{percentYes}}%
  </div>
  <div class="progress-bar progress-bar-danger glyphicon glyphicon-thumbs-down"  style="width: {{percentNo}}%">
      {{percentNo}}%
  </div>
</div>
